@{
	ViewData["Title"] = "About Us";
}

<!-- Page Content-->
<div class="container">
	<!-- Heading Row-->
	<div class="row gx-4 gx-lg-5 align-items-center my-5">
		<div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/assets/img/about/about-header.jpg" alt="..." /></div>
		<div class="col-lg-5">
			<h1 class="font-weight-light">Blood Connect</h1>
			<p>
				As the largest specialized network in promoting blood donation in Brazil, we utilize technology to facilitate the donation
				process and prevent low blood supply in our partner blood banks.<br /><br />
				We invite you to explore our range of services and discover the innovative features that set us apart as the leading company
				in leveraging technology for blood donation.
			</p>
		</div>
	</div>


	<!-- Content card-->
	<div class="card text-white bg-secondary my-5 py-4 text-center">
		<div class="card-body">
			<p class="text-white m-0">
				Welcome to Blood Connect, the leading platform that revolutionizes
				the way blood donors and blood banks connect.
			</p>
		</div>
	</div>

	<!-- Content about -->
	<main role="main" class="container">
		<h1 class="mt-5">Our history</h1>
		<p class="lead mt-4">
			We’re Blood Connect, and we’re here to help donors give life — and recipients get it, we do this through the
			connection between donors and blood banks. Our purpose? Life-giving donations for life-changing outcomes.<br /><br />
			Our story began with a simple yet powerful vision: to save lives by making the blood donation process seamless and efficient.
			Founded by <b>Julia Mourão</b>, a passionate advocate for blood donation, Blood Connect was born out of the desire to address the challenges
			faced by both donors and blood banks. Inspired by personal experiences and driven by a mission to make a difference.
			Together, we embarked on a journey to create a robust web application that would bridge the gap between donors and blood
			banks, leveraging the power of technology and innovation.
			Through tireless dedication and collaboration with <b>Atos</b> and <b>Universidade Franciscana (UFN)</b> professors
			<b>Fabricio Londero</b>, <b>Ricardo Frohlich</b> and <b>Alexandre Zamberlan</b>, Julia acquired the knowledge and skills
			to develop an intuitive and user-friendly interface that simplifies the entire blood donation process. From donor registration to
			matching donors with compatible blood types, our platform ensures a seamless and efficient experience for both donors and blood
			banks. Join us on this extraordinary journey of compassion and impact. Together, let's make a difference and save lives through the
			power of blood donation.
		</p>
	</main>

	<!-- Mission Vision Values-->
	<div class="position-relative mt-4 p-3 p-md-5 m-md-3 text-center bg-body-tertiary rounded-4">
		<h2 class="display-5"><span>BLOOD CONNECT DNA</span></h2>
		<!-- Content section 1-->
		<section id="scroll">
			<div class="container px-5">
				<div class="row gx-5 align-items-center">
					<div class="col-lg-6 order-lg-2">
						<div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/about/mission.webp" alt="..." /></div>
					</div>
					<div class="col-lg-6 order-lg-1">
						<div class="p-5">
							<h2 class="display-6">Mission</h2>
							<p>
								Our mission at Blood Connect is to save lives by connecting blood donors with blood banks, ensuring a reliable and
								efficient supply of blood for those in need. We strive to make the donation process seamless, convenient, and safe,
								while promoting the importance of blood donation in creating a healthier society.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Content section 2-->
		<section>
			<div class="container px-5">
				<div class="row gx-5 align-items-center">
					<div class="col-lg-6">
						<div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/about/vision.webp" alt="..." /></div>
					</div>
					<div class="col-lg-6">
						<div class="p-5">
							<h2 class="display-6">Vision</h2>
							<p>
								Our vision is to be the leading platform that revolutionizes the way blood donation is perceived and practiced.
								We envision a world where every individual understands the critical need for blood donation and is empowered
								to contribute to this life-saving cause. Through innovative technology and strategic partnerships, we aim to eliminate
								blood shortages and improve the accessibility of blood for all.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Content section 3-->
		<section>
			<div class="container px-5">
				<div class="row gx-5 align-items-center">
					<div class="col-lg-6 order-lg-2">
						<div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/about/values.webp" alt="..." /></div>
					</div>
					<div class="col-lg-6 order-lg-1">
						<div class="p-5">
							<h2 class="display-6">Values</h2>
							<p>
								<b>1. Compassion:</b> We believe in the power of compassion and empathy to drive positive change. We treat every donor,
								recipient, and partner with respect, understanding, and care, ensuring their needs and well-being are our top priority.
								<br /><br />
								<b>2. Collaboration:</b>2. Collaboration: We foster a culture of collaboration, recognizing that by working together, we can achieve greater impact.
								We actively engage with donors, blood banks, healthcare institutions, and other stakeholders to create a strong network
								that supports our mission.
								<br /><br />
								<b>3. Excellence:</b> We are committed to delivering excellence in everything we do. We constantly strive for innovation, efficiency,
								and continuous improvement, ensuring the highest quality standards in our platform and services.
								<br /><br />
								<b>4. Impact:</b> We measure our success by the positive impact we make on individuals' lives and society as a whole. We are driven
								by the belief that every blood donation has the potential to save lives and create life-changing outcomes.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>