@{
	ViewData["Title"] = "Home Page";
}
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="JuliaCMS">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BloodDonationManagement.styles.css" asp-append-version="true" />
</head>

<body>
	<main>
		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
			<div class="col-md-12 p-lg-5 mx-auto my-5">
				<h1 class="display-3 fw-bold">Blood Connect</h1>
				<h3 class="fw-normal text-muted mb-4 fs-4">
					Blood Connect is a platform that enables the connection between blood donors and blood banks.<br />
					Donors and blood banks require swift solutions and reliability. <br /><br />
					Count on us.
				</h3>
				<div class="d-flex gap-3 justify-content-center lead fw-normal">
					<a class="btn btn-primary btn-lg" asp-area="" asp-controller="About" asp-action="Index" role="button">More about us &raquo;</a>
				</div>
			</div>
		</div>
		<div class="container py-4">
			<div class="row align-items-md-stretch">
				<div class="col-md-6">
					<div class="h-100 p-5 text-bg-dark rounded-3">
						<h2>Donor</h2>
						<p>If you are a donor candidate seeking to contribute, please register with us.</p>
						<a class="btn btn-outline-light" asp-area="" asp-controller="Donor" asp-action="Create" role="button">Register</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="h-100 p-5 bg-body-tertiary border rounded-3">
						<h2>Blood Bank</h2>
						<p>
							If you represent a blood bank and wish to become our partner, please contact us, and we will
							promptly respond to your inquiry.
						</p>
						<a class="btn btn-outline-secondary" asp-area="" asp-controller="Contact" asp-action="Index" role="button">Get in touch</a>
					</div>
				</div>
			</div>
	


		<div class="position-relative  p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
			<div class="container py-3">
				<div class="text-center">
					<h2 class="section-heading">Why donate blood?</h2>
					<h4 class="fw-normal text-muted mb-3 fs-4">
						Blood donation is a voluntary and altruistic act of extreme importance, as human blood cannot be artificially
						manufactured. Therefore, the only way to save the lives of patients who need blood transfusion is through this
						gesture of love and solidarity. <br /><br />
						Learn everything about the donation process. You'll see that it's simple, quick and safe.
					</h4>
				</div>

				<div class="container py-3 ">
					<div class="row text-center">
						<div class="col-md-4">
							<div class="card h-100">
								<a href="#">
									<img src="~/assets/img/home/filling-form.jpg" class="card-img-top" alt="...">
								</a>
								<h4 class="my-3">Eligibility Requirements</h4>
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card h-100">
								<a href="#">
									<img src="~/assets/img/home/faq.jpg" class="card-img-top" alt="...">
								</a>
								<h4 class="my-3">F.A.Q.</h4>
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card h-100">
								<a href="#">
									<img src="~/assets/img/home/process.jpg" class="card-img-top" alt="...">
								</a>
								<h4 class="my-3">Donation Process Overview</h4>
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>
</body>

</html>
